#aniversariantes .aniversario {
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px 0.3px rgba(55, 55, 63, 0.3);
    transition: 0.3s;
}

#aniversariantes .aniversario:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 15px 0.3px rgba(55, 55, 63, 0.3);
}
  
#aniversariantes .aniversario .aniversario-texto p {
   margin-top: 1rem;
}
  
#aniversariantes .aniversario img {
    width: 140px;
    border-radius: 50%;
    border: solid 6px var(--dark);
}

#aniversariantes .aniversario .nome, 
#aniversariantes .aniversario .setor {
  color: #aaaaaa;
  font-size: 1.1rem;
}

#aniversariantes .aniversario .nome span,
#aniversariantes .aniversario .setor span {
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
}