/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body,
html {
  font-family: var(--font-primary);
  color: var(--font-primary);
  font-size: var(--font-size); 
  /* para usarmos rem assim 
    10px = 0.625rem
    12px = 0.75rem
    14px = 0.875rem
    16px = 1rem
    18px = 1.125rem
  */
}

a {
  color: #5fcf80;
  text-decoration: none;
}

a:hover {
  color: #86db9f;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: var(--medium);
  font-weight: 400 !important;
}

.block {
  margin-top: 140px;
  margin-bottom: 40px;
}

.nav-link[aria-current="page"]{
  color: #5fcf80;
  text-decoration: none;
/*   text-decoration: underline wavy #f8c348 0.15rem;
  text-underline-offset: 0.5rem; */
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5fcf80;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #7ed899;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5fcf80;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}